<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/bot.png">
    <title>X-bot</title>
 <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <br/>
    <form>
      <button type="button" id="script-run-btn">Run selenium script</button>
  </form>
    <h2>Use this site to know top twitter trends</h2>
    <p id="msg-1"></p>
    <p id="msg-2"></p>
    <br/>
    {{>footers}}
  </body>
  <script src="./javascript/app.js"></script>
</html>